nav{
    box-shadow: 2px 2px 3px gray;
    background-color: whitesmoke;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
nav li{
    font-size: 17px;
    font-weight: bold;
}
li a{
    text-decoration: none;
    color: black;
}
.main h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main img{
    height: 600px;
}
.main button{
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
}
.cr1{
    border: 2px solid black;
    margin-top: 20px;
    /* background-color: whitesmoke; */
}
.c1 i{
    font-size: 30px;
}
.c1 p{
    font-size: 30px;
    color: orange;
    font-size: 30px;
    font-weight: bold ;
}
.cr1 p{
    margin-left: 40px;
    position: relative;
    margin-top: -30px;
    font-size: 25px;
    color: orange;
    font-weight: bold;
}
.cr1 i{
    margin-top: 30px;
    font-size: 30px;
    border-radius: 50%;
}
.cr1 h4{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cr3{
    margin-top: 30px;
    padding: 20px;
}
.cr3 i{
    font-size: 30px;
    background-color: orange;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
}
.cr3 p{
     font-weight: bold;
     align-items: center;
     color: black;
}
.cr3 button{
 background-color: orange;
 font-weight: bold;   
}
.cr3:hover{
    background-color:black
}
.cr3 h4{
    font-weight: bold;
    color: orange;
}
.cr3 p:hover{
    color: white;
    font-weight: bold;
}
.co{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
}
.co1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 6%;
}
.co span{
    text-decoration: underline;
    color: orange;
}
.co1 span{
    text-decoration: underline;
    color: orange;
}
.mn{
    width: 350px;
    border: 1px solid black;
    padding: 20px;
    margin-left: 30px;
}
/* .mn img{
    width: 300px;
    height: 100px;
} */
.mn p{
    font-size: 25px;
    font-weight: bold;
}
.mn button{
    background-color: orange;
    color: black;
    font-weight: bold;
}
.mn.h5{
    font-weight: bold;
}
.mn i{
    color: gold;
}
.moon{
    background-color:orange;
    box-shadow: 3px 3px 3px grey;
    padding: 20px;
    width: 350px;
    margin-left: 30px;
}
.ter {
    background-image: url("../image/IMG_20220419_135306.jpg");
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 100% 100%;
}
.moon h2{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.moon p{
    font-size: 16px;
    font-weight: bold;
}
.moon i {
    color: black;
}


/* footer start */
footer{
    background-color: whitesmoke;
    height: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px grey;
}
.foter p{
    font-size: 15px;
    color: black;
    /* text-align: center; */
    font-weight: bold;
    font-family: 'Domine', serif;
    align-items: center;
    margin: 20px 0px 16px;  
}
footer label{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Domine', serif;
    color: orange;
    margin-top: 20px;
}
.foter1 h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Domine', serif;
    color: orange;
    margin-top: 40px;
}
.foter1 p{
    font-size: 16px;
    color: black;
    /* text-align: center; */
    font-weight: bold;
    font-family: 'Domine', serif;
    /* margin: 20px 0px 16px; */
}
.foter i{
    font-size: 20px;
    padding: 10px;
    background-color: orange;
    border-radius: 50%;
    transition: 0.99s;
}
.foter i:hover{
   background-color: #0d6ffd;
   transform: rotate(-360deg);
}
.foter2 p{
    font-size: 16px;
    color: black;
    /* text-align: center; */
    font-weight: bold;
    font-family: 'Domine', serif;
}
.foter3 p{
    font-size: 16px;
    color: black;
    /* text-align: center; */
    font-weight: bold;
    font-family: 'Domine', serif;
}
.foter3 h1{
    font-size: 30px;
    color: orange;
    /* text-align: center; */
    font-weight: bold;
    font-family: 'Domine', serif;
    margin-top: 30px;
}
/* footer end */

/* from start */
.us1 input{
    width: 400px;
    padding: 5px;
    margin-left: 50px;
}
#in{
    margin-left: 50px;
}
.us1 h2{
    margin-top: 20px;
}
.us1{
    box-shadow: 3px 3px 3px 1px whitesmoke;
    padding: 5px;
}
.us1 button{
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
    margin-top: 10px;
}
.us{
    box-shadow: 3px 3px 3px 1px whitesmoke;
    padding: 5px;
}
.fom{
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    width: 350px;
    height: 400px;
    margin-top: 70px;
}
.fom input{
    width: 250px;
    padding: 5px;
    margin-left: 30px;
}
.lo1{
    background-color: orange;
    font-weight: bold;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
}
.lo{
    background-color: orange;
    font-weight: bold;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-top: 10px;
}
.log{
    width: 250px;
    background-color: orange;
    font-weight: bold;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
}
.user{
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.fom p{
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
}
.fom a{
    color: orange;
}
.fom span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 90px;
    font-size: 20px;
}




















































































































































@media(max-width:414px)
{
     div .hhh{
        font-size: 30px;
    }
    .mn{
        margin-left: 20px;
    }
    .moon{
        margin-left: 20px;
    }
    .us1 input{
        width: 300px;
    }
    .us1 textarea{
        width: 300px;
    }
    .fom{
        /* text-align: center; */
        /* align-items: center; */
        margin-left: 10px;
    }
    
}